USE [master]
GO
/****** Object:  Database [Хранитель]    Script Date: 16.04.2024 10:43:36 ******/
CREATE DATABASE [Хранитель]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Хранитель', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Хранитель.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Хранитель_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Хранитель_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Хранитель].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Хранитель]
GO
/****** Object:  Table [dbo].[Групповые посещения]    Script Date: 16.04.2024 10:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Групповые посещения](
	[ID_Посещения] [int] NOT NULL,
	[ID_Информации_для_пропуска] [int] NULL,
 CONSTRAINT [PK_Групповые посещения] PRIMARY KEY CLUSTERED 
(
	[ID_Посещения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Документы посетителей в группе]    Script Date: 16.04.2024 10:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Документы посетителей в группе](
	[ID] [int] NOT NULL,
	[ID_Посетителя] [int] NULL,
	[Скан_паспорта] [image] NULL,
 CONSTRAINT [PK_Документы посетителей в группе] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Заявки для посещения]    Script Date: 16.04.2024 10:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заявки для посещения](
	[ID_Заявки] [int] NOT NULL,
	[ID_Информации_для_пропуска] [int] NULL,
	[ID_Информации_о_посетителе] [int] NULL,
 CONSTRAINT [PK_Заявки для посещения] PRIMARY KEY CLUSTERED 
(
	[ID_Заявки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Информация для пропуска]    Script Date: 16.04.2024 10:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Информация для пропуска](
	[ID] [int] NOT NULL,
	[Срок_начала_действия_пропуска] [date] NULL,
	[Срок_окончания_действия_пропуска] [date] NULL,
	[Цель_посещения] [nvarchar](150) NULL,
	[ID_принимающей_стороны] [int] NULL,
 CONSTRAINT [PK_Информация для пропуска] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Пользователь]    Script Date: 16.04.2024 10:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователь](
	[ID_Пользователя] [int] NOT NULL,
	[Фамилия] [nvarchar](50) NULL,
	[Имя] [nvarchar](50) NULL,
	[Отчество] [nvarchar](50) NULL,
	[Телефон] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Примечание] [nvarchar](50) NULL,
	[Дата_рождения] [nvarchar](50) NULL,
	[Серия_паспорта] [int] NULL,
	[Номер_паспорта] [int] NULL,
	[Логин] [nvarchar](50) NULL,
	[Пароль] [nvarchar](50) NULL,
 CONSTRAINT [PK_Пользователь] PRIMARY KEY CLUSTERED 
(
	[ID_Пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Прикрепляемые документы]    Script Date: 16.04.2024 10:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Прикрепляемые документы](
	[ID_Документа] [int] NOT NULL,
	[ID_Информации_о_пользователе] [int] NULL,
	[Скан_паспорта] [image] NULL,
 CONSTRAINT [PK_Прикрепляемые документы] PRIMARY KEY CLUSTERED 
(
	[ID_Документа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Принимающая сторона]    Script Date: 16.04.2024 10:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Принимающая сторона](
	[ID_Стороны] [int] NOT NULL,
	[Подразделение_для_посещения] [nvarchar](150) NULL,
	[ID_Сотрудника] [int] NULL,
 CONSTRAINT [PK_Принимающая сторона] PRIMARY KEY CLUSTERED 
(
	[ID_Стороны] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 16.04.2024 10:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[ID_Сотрудника] [int] NOT NULL,
	[Фамилия] [nvarchar](50) NULL,
	[Имя] [nvarchar](50) NULL,
	[Отчество] [nvarchar](50) NULL,
	[Подразделение] [nvarchar](50) NOT NULL,
	[Код_сотрудника] [int] NULL,
	[Отдел] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[ID_Сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE PROCEDURE RegisterUser
    @Фамилия NVARCHAR(100),
    @Имя NVARCHAR(100),
    @Отчество NVARCHAR(100),
    @Email NVARCHAR(100),
    @Номер_телефона NVARCHAR(50),
    @Дата_рождения NVARCHAR(50),
    @Серия_паспорта INT,
    @Номер_паспорта INT,
    @Логин NVARCHAR(50),
    @Пароль NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Вставляем данные в таблицу "Список посетителей"
    INSERT INTO [dbo].[Список посетителей] (Фамилия, Имя, Отчество, Email, Номер_телефона, Дата_рождения, Серия_паспорта, Номер_паспорта, Логин, Пароль)
    VALUES (@Фамилия, @Имя, @Отчество, @Email, @Номер_телефона, @Дата_рождения, @Серия_паспорта, @Номер_паспорта, @Логин, @Пароль);
    
    -- Вставляем данные в остальные связанные таблицы (примеры)
    INSERT INTO [dbo].[Групповые посещения] (ID_Посещения, ID_Информации_для_пропуска)
    VALUES (1, 1);

    INSERT INTO [dbo].[Документы посетителей в группе] (ID, ID_Посетителя, Скан_паспорта)
    VALUES (1, SCOPE_IDENTITY(), 0x);

    INSERT INTO [dbo].[Заявки для посещения] (ID_Заявки, ID_Информации_для_пропуска, ID_Информации_о_посетителе)
    VALUES (1, 1, SCOPE_IDENTITY());
END;
